/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: white;
  padding-right: 1em;
}
.navbar-search h2 {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  margin-top: 8px;
}
.navbar-search form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-search form .btn-search {
  font-size: 0.8rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #cc0000;
  border-radius: 50%;
  padding: 5px;
}
.navbar-search form .btn-search:hover {
  color: #fff;
  background-color: #cc0000;
  border: 1px solid #000;
  border-radius: 20px;
}
.navbar-search form .input-search {
  border: 1px solid #cc0000;
  border-radius: 20px;
  font-family: "Exo 2";
  padding-left: 8px;
}
.navbar-search form .input-search:focus {
  box-shadow: 0px 0px 0px;
  border-color: #cc0000;
  outline: 0px;
}

footer {
  padding: 0 15px;
}
footer .btn-color-blue {
  border-bottom: solid 3px #0075BE !important;
}
footer .btn-color-blue:hover {
  background-color: #0075BE;
  color: #fff !important;
}
footer .btn-color-yellow {
  border-bottom: solid 3px #FFCC00 !important;
}
footer .btn-color-yellow:hover {
  background-color: #FFCC00;
  color: #fff !important;
}
footer .btn-color-red {
  border-bottom: solid 3px #CC0000 !important;
}
footer .btn-color-red:hover {
  background-color: #CC0000;
  color: #fff !important;
}

.nav_container {
  display: flex;
  justify-content: space-between;
}

header {
  background: #f3f4f6;
}

.header-logo {
  text-align: center;
}
.header-logo img {
  padding: 1em 0;
  width: 50%;
}

.navbar {
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  background-color: #fff;
  overflow: hidden;
  height: 3.5em;
  width: 100%;
}
.navbar .navbar-list {
  display: inline-table;
  max-width: 100%;
  padding: 0;
}
.navbar .navbar-list li {
  display: table-cell;
}
.navbar .navbar-list a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: #333;
  height: 3em;
  line-height: 3;
  margin-bottom: 20px;
}
.navbar .navbar-list .btn-color-blue {
  border-bottom: solid 3px #0075be;
}
.navbar .navbar-list .btn-color-blue:hover {
  background-color: #0075be;
  color: #fff;
}
.navbar .navbar-list .btn-color-yellow {
  border-bottom: solid 3px #ffcc00;
}
.navbar .navbar-list .btn-color-yellow:hover {
  background-color: #ffcc00;
  color: #fff;
}
.navbar .navbar-list .btn-color-red {
  border-bottom: solid 3px #cc0000;
}
.navbar .navbar-list .btn-color-red:hover {
  background-color: #cc0000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .navbar-list {
    margin: 0 auto;
  }
  .navbar-search {
    padding: 1em 0;
    background-color: transparent;
  }
}
.card {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 0.5em 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.1s ease-in-out;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(215, 215, 215) 0px 0px 0px 1px;
}
.card form {
  width: 100%;
  display: flex;
  justify-content: end;
}
.card input[type=submit] {
  border: none;
  font-weight: 600;
  background: none;
  color: #dadbdc;
  cursor: pointer;
}
.card input[type=submit]:hover {
  color: red;
}
.card img {
  width: 180px;
  height: auto;
  margin-bottom: 0.5em;
}
.card h3 {
  font-size: 1.3em;
  font-weight: 600;
}
.card .type {
  opacity: 0.7;
  font-size: 0.6em;
}
.card ul {
  padding: 0.5em 0;
  display: flex;
  gap: 0.3em;
  font-size: 0.8em;
  justify-content: center;
}
.card ul li {
  padding: 0.4em;
  border-radius: 4px;
  font-weight: 600;
  opacity: 0.7;
}

.Normal {
  background-color: #a8a77a;
}

.Fire {
  background-color: #ee8130;
}

.Water {
  background-color: #6390f0;
}

.Electric {
  background-color: #f7d02c;
}

.Grass {
  background-color: #7ac74c;
}

.Ice {
  background-color: #96d9d6;
}

.Fighting {
  background-color: #c22e28;
}

.Poison {
  background-color: #a33ea1;
}

.Ground {
  background-color: #e2bf65;
}

.Flying {
  background-color: #a98ff3;
}

.Psychic {
  background-color: #f95587;
}

.Bug {
  background-color: #a6b91a;
}

.Rock {
  background-color: #b6a136;
}

.Ghost {
  background-color: #735797;
}

.Dragon {
  background-color: #6f35fc;
}

.Dark {
  background-color: #705746;
}

.Steel {
  background-color: #b7b7ce;
}

.Fairy {
  background-color: #d685ad;
}

.index_container {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  width: 100%;
  flex-wrap: wrap;
  padding: 1em 0;
  font-family: "Poppins";
}
.index_container a {
  text-decoration: none;
  color: black;
}

.greetings {
  padding: 1em 0;
  text-align: center;
  color: #dadbdc;
}

.pokemon_container {
  display: flex;
  padding: 2em 0;
  width: 100%;
  font-family: "Poppins";
}

.pokemon_row {
  width: 50%;
  margin: 0 1em;
}
.pokemon_row h1 {
  font-size: 3em;
  font-weight: 600;
}
.pokemon_row h2 {
  margin-top: 1em;
  font-size: 1.6em;
  font-weight: 600;
}
.pokemon_row .pokemon_evo {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.pokemon_row .pokemon_evo img {
  width: 110px;
  padding: 1em;
  height: auto;
  background-color: #f3f4f6;
  border-radius: 50%;
}
.pokemon_row ul {
  padding: 0.5em 0;
  display: flex;
  gap: 0.3em;
  font-size: 0.8em;
}
.pokemon_row ul li {
  padding: 0.4em;
  border-radius: 4px;
  font-weight: 600;
}

.pokemon_row:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pokemon_row:nth-child(2) figure {
  z-index: 2;
}

.type_id {
  font-size: 4.5em;
  color: #dadbdc;
  font-weight: 600;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -80%);
}

.pokemon_stats {
  margin: 2em 0;
  display: flex;
  gap: 3em;
}
.pokemon_stats div {
  width: 50%;
}
.pokemon_stats .label {
  opacity: 0.6;
  margin: 0;
}
.pokemon_stats .results {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

@media screen and (max-width: 768px) {
  .pokemon_container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .pokemon_row {
    margin: 0 0.3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pokemon_row figure img {
    width: 320px;
    height: auto;
  }
}
.view_title {
  margin: 1em 1em;
}

.fav_container {
  display: flex;
  margin: 0 1em;
  gap: 1em;
}
.fav_container a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */