.card {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 0.5em 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.1s ease-in-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
      rgb(215, 215, 215) 0px 0px 0px 2px;
  }
  img {
    width: 180px;
    height: auto;
    margin-bottom: 0.5em;
  }
  h3 {
    font-size: 1.3em;
    font-weight: 600;
  }
  .type {
    opacity: 0.7;
    font-size: 0.6em;
  }
  ul {
    padding: 0.5em 0;
    display: flex;
    gap: 0.3em;
    font-size: 0.8em;
    justify-content: center;
    li {
      padding: 0.4em;
      border-radius: 4px;
      font-weight: 600;
      opacity: 0.7;
    }
  }
}

// TYPE COLORS //
.Normal {
  background-color: #a8a77a;
}

.Fire {
  background-color: #ee8130;
}

.Water {
  background-color: #6390f0;
}

.Electric {
  background-color: #f7d02c;
}

.Grass {
  background-color: #7ac74c;
}

.Ice {
  background-color: #96d9d6;
}

.Fighting {
  background-color: #c22e28;
}

.Poison {
  background-color: #a33ea1;
}

.Ground {
  background-color: #e2bf65;
}

.Flying {
  background-color: #a98ff3;
}

.Psychic {
  background-color: #f95587;
}

.Bug {
  background-color: #a6b91a;
}

.Rock {
  background-color: #b6a136;
}

.Ghost {
  background-color: #735797;
}

.Dragon {
  background-color: #6f35fc;
}

.Dark {
  background-color: #705746;
}

.Steel {
  background-color: #b7b7ce;
}

.Fairy {
  background-color: #d685ad;
}
