.register_form {
  margin: 0 1.5em;
  display: flex;
  gap: 0.5em;
}

.login_link {
  margin: 0 1.5em;
  font-size: 0.9em;
  margin-top: 0.3em;
}

// MOBILE //
@media screen and (max-width: 768px) {
  .register_form {
    flex-direction: column;
  }
}
